svg {
    padding: 7px 7px;
}

svg:hover {
    opacity: 0.1;
    cursor: pointer;
}

ul>ul button {
    height: 90px;
    width: 70px;
}

ul>ul button:hover {
    cursor: pointer;
}
ul>ul.MuiList-root.todo__list {
    margin: 10px auto;
}
.todo__list {
    width: 50%;
}